.subColorImage {
  /*float: left;*/
  width: 90px;
}
.colorGroupButton, .colorGroupButton-NotSelected {
  width: 280px;
  border-color: #eaeaea;
}

.colorGroupButton-NotSelected {
  background-color: white;
  color: #4cae4c;
}
.colorGroupMenu {
  float: left;
  width: 280px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.subColorMenu {
  float: left;
  width: 90px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.subColorMenuNotSelected {
  opacity: .3;
}

.subColorThumbnail {
  width: 90px;
  height: 90px;
  padding-top: 15px;
  padding-left: 15px;
}