
/* Next tab component */

.nextButton, #nextButtonHardware {
  width: 240px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
}

.nextTitle {
  color: #339ddb;
  font-size: 20px;
  line-height: 39px;
  float: left;
  position: relative;
}

.nextImage {
  color: #ffffff;
  float: left;
  margin-left: 20px;

}
.nextTab{
  position: relative;
}