.thumbnail2 {
  width: 121px;
  height: 121px;
  /*background-color: #00b3ee;*/
  font-size: 90px;
  padding-top: 15px;
  padding-left: 15px;

}
.thinBorder2 {
  border: solid;
  border-color: black;
  border-width: 1px;
}

.thumbButton {
  text-align: center;
  margin-bottom: 5px;
  float: left;
}

.thumbOption {
  float: left;
  width: 121px;
  margin-right: 40px;
  margin-top: 0px;
  position: relative;
}

.panelOptions {
  float: left;
  margin-right: 40px;
  margin-top: 0px;
}
.panel a{
  text-decoration: none;
}

.thumbnailTitle, .thumbnailNote {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  clear: both;
  word-wrap:break-word;
}

.thumbnailNote {
  font-weight: normal;
}
.halfOption {
  float: left;
  width: 458px;
  margin-top: 40px;

}

.fullOption {
  float: left;
  width: 920px;
  max-width: calc(100% - 40px);
  margin-top: 20px;
}

.horizontalOption {
  float: left;
  /*background-color: red;*/
  width: 100%;
}

.optionsBox {
  width: 100%;
  float: left;
  clear: both;
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.optionsBox a{
  text-decoration: none;
}

.optionsBoxFrontEnd {
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}
.editSaveDelete {
  float: left;
  clear: both;
  width: 100%;
  float: left;
  padding-right: 10px;
  margin-top: 5px;
  clear: both;
}

.horizontalImage {
  float: left;
  width: 121px;
  position: relative;
}

.horizontalPanelImage {
  float: left;
  width: 100%;
  position: relative;
}
.system{
  cursor: pointer;
}
.systemImage {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.horizontalFullText, .horizontalHalfText {
  float: left;
  padding-left: 15px;
  padding-right: 20px;
  width: 719px;
  position: relative;
}

.horizontalHalfText {
  width: 318px;
}

.horizontalTitle {
  float: left;
  margin-top: 30px;
  font-weight: Bold;
  width: 100%;
  word-wrap:break-word;
}

.horizontalNote {
  float: left;
  font-weight: 400;
  width: 100%;
  word-wrap: break-word;
}

.optionTitle {
  width: 100%;
  font-size: 30px;
  color: white;
}

.optionNote {
  font-size: 14px;
  color: white;
}

.clearfix {
  clear: both;
}

.panelExample {
  position: relative;
}

.panelExample {
  display: inline-block;
  padding: 0 20px 0 0;
  img {
    padding-right: 4px;
  }
  div {
    font-weight: bold;
    text-align: center;
  }
}


.required-field .parsley-errors-list {
  position: absolute;
  top: -20px;
  left: 0;
}
.cart {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1797be;
    left: 0;
    right: 0;
    padding: 17px;
    text-align: center;
    color: #fff;
    z-index:9;
    border-top:1px solid #fff;
    font-size: 16px;
}
