.menuBox {
  /*margin-left: 10px;*/
  display: table;
  table-layout: fixed;
  /*float: left;*/
  width: 100%;
  height:44px;
}
.menuBox .optionMenu,
.menuBox .menuSpace {
  display: table-cell;
  height:44px;
  margin-right: 10px;
  position: relative;
}

.menuSpace {
  width: 10px;
}
.optionMenu {
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  color: darkslategray;
  background-color: #FBFBFB;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;

}
.optionMenuChoosen {
  background-color: #558DE3;
  color: white;
}